extends ../shared/site
block vars
block content
    div 
    form(method="post" action="#{router.action('auth')}")
        input(type="hidden" name="np_token" value="#{router.nptoken()}")
        input(type="text" name="username")
        input(type="password" name="password")
        input(type="submit" value="Submit")